@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700&display=swap');

body {
    overflow-x: hidden;
}

.App {
    height: 100vh;
    background-color: var(--bgColor);

    color: var(--txtColor);
    font-family: 'Roboto', sans-serif;
}
