@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700&display=swap');

body {
    overflow-x: hidden;
    overflow: hidden;
}

.App {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--bgColor);
    color: var(--txtColor);
    font-family: 'Roboto', sans-serif;
}

// .ref {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }
