@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.home__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: -100vh;
    opacity: 0;
    &.show {
        animation: showWindow 1s forwards;
        animation-delay: 500ms;
    }

    &.hidden {
        animation: hideWindow 1s forwards;
    }
}

.sub__text {
    margin-top: 50px;
    font-size: clamp(0.1rem, 3vw + 0.1rem, 2rem);
    font-family: 'Source Code Pro', monospace;
    position: relative;
}

.link__button {
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    font-size: clamp(0.1rem, 3vw + 0.1rem, 0.7rem);
    text-decoration: none;
    color: var(--txtColor);

    svg {
        margin-right: 10px;
    }
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 0px 10px var(--highlightColor);
    outline: 1px solid var(--highlightColor);
    &:hover {
        animation: buttonHover 300ms ease forwards;
    }
}

@keyframes buttonHover {
    to {
        box-shadow: none;
    }
}

.providers {
    margin-top: 30px;
    text-align: center;

    svg {
        margin-inline: 10px;
    }
}

.footer__text {
    position: absolute;
    bottom: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    p {
        text-align: center;
    }
    &:hover {
        cursor: pointer;

        animation: footerHover 300ms ease forwards;
    }
}

@keyframes footerHover {
    to {
        transform: translateY(5px);
    }
}

.main__text {
    margin-top: 10vh;
    font-size: clamp(0.5rem, 3vw + 0.5rem, 4rem);
    position: relative;

    font-family: 'Source Code Pro', monospace;
    text-shadow: 0 0px 2px var(--txtColor);
    white-space: nowrap;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: var(--bgColor);

        animation: typewriter 6s steps(22) forwards;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 0.125rem;
        background-color: var(--txtColor);

        animation: typewriter 6s steps(22) forwards, blink 700ms steps(24) infinite;
    }
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}
