.social__body {
    position: sticky;
    left: 1rem;
    top: 1rem;
    display: flex;

    * {
        margin-inline: 5px;
    }
    svg {
        text-decoration: none;
        color: var(--txtColor);
    }
}
